/**
 * 
 * 青菜萝卜 CSS
 * 
 * Author: SillyBoy
 * 
 * Email：1043244432@qq.com
 * 
 */

/**
 * blog css 
 * a:hover: #10D07A 
 * 基本色：#333 
 * 或者 #3d3d3d   
 * bgcolor：#10D07A  ， color：#fff
 * blog-color  单独的颜色突出
 * .blog-bor    border:1px solid #e5e5e5
 * css复用 与 规范化
 */

/* TODO 公共CSS开始 */
html {
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
    line-height: 24px;
    background-color: #f2f2f2;
    color: #333;
}
.qing-sm-search {
	margin-top: 0.5rem;
}
a:hover {
    color:#10D07A;
}
.qing-container {
	margin-top:3rem;
}
.qing-content {
	padding: 1rem 2rem;
	background: #FFF;
}
.qing-header {
    background-color:#393D49;
    text-align:center;
    top: 0;
}
.qing-footer {
    padding:3rem 0 2rem 0;
    margin-top:5rem;
    background-color:#2F4056;
    color:#fff !important
}
.qing-footer-padding {
    padding:3rem 0;
}
.qing-footer a{
    color:#fff;
}
.qing-footer span {
    color:#fff;
}
.qing-btn-search {
	height: 32px !important;
}

/**
 * 覆盖amazeui的样式
 */
.am-topbar a {
	color: #FFFFFF;
}
.am-topbar-nav>li.am-active>a, .am-topbar-nav>li.am-active>a:focus,.am-topbar-nav>li.am-active>a:hover{
    border-radius: 0;
    color: #FFFFFF;
    background-color:#009688;
    text-align:center;
}
.am-topbar-nav>li>a:hover:after {
     opacity: 0; 
}
@media only screen and (min-width: 641px) {
	.am-topbar-nav>li.am-active>a:after {
    	opacity: 0;
    }
}
@media only screen and (min-width: 1200px) {
      .qing-fixed {
        max-width: 1200px;
      }
}

.qing-nav {
    padding:0 1.3rem;
}

.qing-nav li a:hover{
    background-color:#009688;
    color:#FFFFFF;
}

.qing-logo {
    margin-top: 0.7rem;
    width: 150px;
    height: 40px;
    display: block;
    text-indent: -666px;
    background: url(../img/logo2.png) no-repeat;
}


#blog hr {
    margin:0.6rem 0;
}

.qing-btn-mobile {
    height:100%;
    margin-left:1.5rem;
    background-color:#009688;
    color: #FFF;
}

.qing-text-center {
    text-align:center;
}

.qing-text-left {
	text-align: left;
}

.qing-text-right {
	text-align: right;
}

.qing-panel {
	background: #FFF;
	padding: 0 2rem;
}

.qing-panel-body {
	padding: 1rem 0rem;
}

.qing-panel-title {
    height: 40px;
    border-bottom: 1px solid #90bba8;
}

.qing-panel-title h2 {
    line-height: 45px;
    font-weight: normal;
    font-size: 16px;
}

.qing-hot-rank-title {
	color: #1abc9c;
}

.qing-panel hr {
	background: #5FB878;
}

.qing-margin-top {
	margin-top: 1rem !important;
}

.qing-margin-bottom {
	margin-bottom: 1rem !important;
}

.qing-color-author {
	color: #01AAED;
}

.qing-color-clock {
	color: #ED0156;
}

.qing-color-eye {
	color: #01AAED;
}

.qing-color-comment {
	color: #01AAED;
}
.qing-color-heart {
	color: #ED0156;
}

.qing-content-empty{
	height: 10rem;
	background: #FFF;
}

.qing-empty-tip {
	padding-top: 4rem;
    color: #01AAED;
}

.qing-item-cnt {
	margin: 5px 0;
}
.qing-item-list {
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	list-style: decimal-leading-zero inside;
	*list-style-type: decimal inside;
	color: #009E94;
	display: flex;
	justify-content: space-between;
}
.qing-item-link {
	max-width: 72%;
    position: relative;
    font-size: 14px;
    padding: 0 0 0 13px;
    transition: color .2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.qing-item-link:before {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 50%;
    margin-top: -2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #CFCFCF;
}
.qing-item-list span {
	color: #AAA;
	font-size: 12px;
}

/* TODO iconfont定义开始  */
/**
 * 
 * 阿里巴巴 iconfont
 * 
 */
@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot?t=1477416582');
	/* IE9*/
	src: url('iconfont.eot?t=1477416582#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('iconfont.woff?t=1477416582') format('woff'), /* chrome, firefox */
	url('iconfont.ttf?t=1477416582') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('iconfont.svg?t=1477416582#iconfont') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.icon-zan:before {
	content: "\e612";
}

.icon-jiazaizhong:before {
	content: "\e60e";
}

.icon-sousuo:before {
	content: "\e621";
}

.icon-quanpingpad:before {
	content: "\e61d";
}

.icon-shezhi:before {
	content: "\e607";
}

.icon-shijian:before {
	content: "\e60a";
}

.icon-guanbi:before {
	content: "\e614";
}

.icon-tianjia:before {
	content: "\e616";
}

.icon-tuichu:before {
	content: "\e601";
}

.icon-shui:before {
	content: "\e602";
}

.icon-qq:before {
	content: "\e618";
}

.icon-weibo:before {
	content: "\e617";
}

.icon-daima:before {
	content: "\e609";
}

.icon-tupian:before {
	content: "\e608";
}

.icon-yulan:before {
	content: "\e60d";
}

.icon-biaoqing:before {
	content: "\e60f";
}

.icon-lianjie:before {
	content: "\e620";
}

.icon-logo:before {
	content: "\e603";
}

.icon-nan:before {
	content: "\e619";
}

.icon-nv:before {
	content: "\e61a";
}

.icon-quitquanping:before {
	content: "\e61e";
}

.icon-zuichun:before {
	content: "\e61c";
}

.icon-charushuipingxian:before {
	content: "\e622";
}

.icon-liulanyanjing:before {
	content: "\e60b";
}

.icon-touxiang:before {
	content: "\e604";
}

.icon-caina:before {
	content: "\e613";
}

.icon-room:before {
	content: "\e615";
}

.icon-svgmoban53:before {
	content: "\e610";
}

.icon-shichang:before {
	content: "\e600";
}

.icon-shouye:before {
	content: "\e605";
}

.icon-tishilian:before {
	content: "\e629";
}

.icon-fabu:before {
	content: "\e606";
}

.icon-pinglun:before {
	content: "\e60c";
}

.icon-zan1:before {
	content: "\e611";
}

.icon-chengshi:before {
	content: "\e61b";
}
.icon-renshu:before {
	content: "\e61f";
}
.icon-huizongzuoyoutuodong:before {
	content: "\e623";
}
.icon-404:before {
	content: "\e627";
}
.icon-wenda:before {
	content: "\e626";
}
.icon-top:before {
	content: "\e624";
}
.icon-ui:before {
	content: "\e625";
}
/* TODO iconfont结束 */ 

/* TODO 公共CSS结束 */


/* 主页CSS开始 TODO */
.qing-notice {
	padding: 0.25rem 0.625rem;
	background: #FFF;
	margin-bottom: 0.5rem;
}
.qing-notice i {
	color: #FF5722;
	margin-right: 0.625rem;
}
.qing-notice span {
	color: #777;
	font-size: 12px;
}
/* 轮播*/
.am-active {
	background: #1abc9c !important;
}
.qing-slider-desc {
    width: 50% !important;
    height: 30px;
    padding: 0.25rem 1rem !important;
    overflow: hidden;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    left: 50%;
    /*top: 50%;*/
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background-color: transparent;
}
.qing-lunbo-a {
	color: #FFF;
}
.qing-slider-img {
	height: 400px;
}
.qing-slider {
	margin-bottom: 3rem;
}
@media only screen and (min-width: 100px) {
	.qing-slider-img {
		height: 200px;
	}
}
@media only screen and (min-width: 600px) {
	.qing-slider-img {
		height: 400px;
	}
}
.qing-share-img {
	width:250px;
}
/* 热门排行 */
.qing-hot-rank {
	
}
.qing-hot-tip {
	display: inline-block;
	
}
.qing-hot-a {
	display: inline-block;
	max-width: 410px;
}

.qing-entry-text {
    padding: 1rem 2rem;
    background-color: #FFF;
    /*border: 1px solid;*/
    /*border-color: #eee;*/
    margin-bottom: 0.5rem;
    text-align: left;
}
.qing-blog-cnt {
	/*background-color: #FFF;*/
}
.qing-blog-fenge {
	border-bottom: 0.5rem solid;
    border-color: #F2F2F2;
}
.qing-category {
    color: #fff;
    background-color: #1abc9c;
    padding: 3px 6px;
    font-size: 10px;
    position: relative;
    top: -2px;
    margin-right: 5px;
}
.qing-category i {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: -4px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 4px solid #1abc9c;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.qing-list-title {
	font-size: 16px;
}
.qing-list-hint {
	padding-top: 0.2rem;
	font-size: 10px;
}
.qing-list-tips {
	color: #F7B824;
}
.qing-list-content {
	padding: 0.2rem 0;
	text-indent: 2em;
	font-size: 14px;
    line-height: 22px;
	color: #777;
}
.qing-list-foot {
	font-size: 8px;
	text-align: left;
}
.qing-list-foot i {
	margin-right: 5px;
}
.qing-list-foot span {
	display: inline-block;
    min-width: 10px;
    padding: .25em 0.25em;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #EEE;
}
.qing-list-foot a {
	margin:0.15rem 0.15rem;
    font-size: 10px;
    float:right;
    color:#009688;
}
.qing-list-foot a:hover {
	color:#5FB878;
}

.qing-page {
	background: #FFF;
}

/* 主页CSS结束 TODO */


/* 左侧侧边栏开始 TODO */
.qing-left-category {
	display: inline-block;
    min-width: 10px;
    margin: 0.25em 0;
    width:32.5%;
    padding: .5em .625em;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #999;
    cursor: pointer;
}
.qing-left-category0 {
	background-color:#FF5722;
}
.qing-left-category1 {
	background-color:#5FB878;
}
.qing-left-category2 {
	background-color:#F7B824;
}
.qing-left-category3 {
	background-color:#01AAED;
}
.qing-tag-cloud {
	position: relative;
    height: 250px;
    margin: 10px auto 30px auto;
}
.qing-tag-cloud a {
	position: absolute;
	top: 0px;
	left: 0px;
	font-family: Microsoft YaHei;
	color: orangered;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 6px;
}
.qing-tag-cloud a:hover {
	color: #FF0000;
	letter-spacing: 2px;
}
.qing-tcloud-color0 {
	color: orangered !important;
}
.qing-tcloud-color1 {
	color: green !important;
}
.qing-tcloud-color2 {
	color: blue !important;
}
.qing-tcloud-color3 {
	color: black !important;
}
.qing-tcloud-color4 {
	color: red !important;
}
.qing-left-ad {
	height: 250px;
	background: #FFF;
	padding: 1rem;
}

/* 左侧侧边栏结束TODO */


/* 详情CSS开始 TODO */
.qing-blog-nav {
	background: #FFFFFF;
    padding: 0.25rem 1rem;
    margin-bottom: 0.1rem;
}
.qing-blog-nav a {
	color: #1abc9c;
}
.qing-blog-nav a:hover {
	color: #000000;
}
.qing-blog-tips {
	padding-top: 0.2rem;
	font-size: 10px;
}
.qing-blog-tip-c {
	margin: auto 4px;
}
.qing-blog-tag {
	font-size: 8px;
}
.qing-blog-tag span {
	display: inline-block;
    min-width: 10px;
    padding: .25em 0.25em;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #EEE;
    margin: auto 0.25rem;
}
.qing-blog-summary {
	color: #777;
}

.qing-blog-content {
	padding: 20px 0 !important;
}
.markdown-body ol li {line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    list-style: decimal inside;
    color: #333;
}
.qing-blog-img {
	width: 90%;
	margin: 1rem 0;
}
.qing-blog-zhuanzai {
	margin-top: 5rem;
}
.qing-blog-social {
    margin-bottom: 30px;
    padding-top: 40px;
    text-align: center;
    text-indent: 0;
}
.qing-blog-social .or {
    background: #fff;
    color: #455670;
    display: inline-block;
    padding: 5px 12px;
    font-size: .8725em;
    position: absolute;
    z-index: 2;
    margin: 4px 0 0 -19px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
}
.qing-blog-action {
	position: relative;
    padding: 8px 20px;
    display: inline-block;
    /*border: 1px solid #d6d6d6;*/
    border-radius: 2px;
    background-color: #5FB878;
    font-size: 15px;
    margin: 0 3px;
    color: #fff;
    cursor: pointer;
}
@media only screen and (min-width: 600px) {
	.qing-blog-action {
		position: relative;
	    padding: 8px 40px;
	    display: inline-block;
	    border-radius: 2px;
	    background-color: #5FB878;
	    font-size: 15px;
	    margin: 0 3px;
	    color: #fff;
	    cursor: pointer;
	}
}
.qing-blog-like {
	background-color: #FF5722;
    color: #fff;
}
.qing-blog-donate {
	margin-top: 3rem;
	border-bottom: 1px solid #E2E2E2;
	padding-bottom: 2rem;
}
.qing-blog-donate p {
	font-size: 12px;
}
.qing-btn-donate {
	width: 310px;
    margin: 10px auto 0px;
    background-color: #FF5722;
    color: #ffffff;
    height: 40px;
    border: none;
    font-family: 'Microsoft Yahei';
    font-size: 16px;
    letter-spacing: 2px;
}
.qing-blog-foot {
	padding: 1rem;
	border-top: 1px solid #f2f2f2;
    background-color: #fbfbfb;
}
.qing-blog-foot .right{
	float: right;
}
.qing-blog-foot span a  {
	color: #009688;
}
.qing-blog-foot span a:hover {
	color:#00a67c;
}
.qing-blog-ad {
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    height: 150px;
    display: none;
}

/* TODO详情CSS结束  */


/* TODO捐赠CSS开始 */
.qing-donate-header{
	margin-bottom: 0.25rem;
	/*height: 30px;*/
}
.qing-donate-header span {
	font-size: 16px;
}
.qing-donate-cnt {
	1rem 0 1rem 0;
}
.qing-donate-title {
	font-size: 16px;
	vertical-align: middle;
	background: #F8F8F8;
	margin: 1rem -2rem;
	padding: 1rem 0rem;
	border-left: 3px solid #FF5722;
}
.qing-donate-account {
	width: 310px;
    margin: 10px auto 0px;
    background-color: #03cab1;
    color: #ffffff;
    height: 40px;
    border: none;
    font-family: 'Microsoft Yahei';
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}
.qing-donate-method {
	font-size: 14px;
	padding: 1rem 0rem;
}
.qing-donate-image {
	height: 200px;
	width: 200px;
}
.qing-donate-click {
	width: 100px;
    height: 100px;
    margin: 30px auto;
    color: rgb(252, 252, 252);
    text-align: center;
    border-radius: 50%;
    line-height: 90px;
    font-family: 'Microsoft Yahei';
    background-color: #FF5722;
    border: 1px solid #d9d9d9;
    border-top-color: #c0c0c0;
    border-left-color: #d0d0d0;
}
.qing-donate-fill {
	height: 20rem;
}
.qing-donate-qrcode {
	display: inline-block;
}
.qing-donate-tip {
	color: #666;
	font-size: 12px;
}

/* TODO捐赠CSS结束 */


/* TODO评论CSS开始 */
.qing-comment-head {
	height: 30px;
    border-bottom: 1px solid #E2E2E2;
}
.qing-comment-title {
	display: inline-block;
}
.qing-comment-report {
    float: right;
    color: red;
    cursor: pointer;
}
.qing-comment-shafa {
    color: red;
    cursor: pointer;
}
.qing-comment-main {
	margin: 1rem 0;
	padding: 0.625rem 0;
	border-bottom: 1px solid #E2E2E2;
}
.qing-comment-avatar {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 0.625rem 0;
}
.qing-comment-avatar img {
	width: 32px;
    height: 32px;
}
@media only screen and (min-width: 641px) {
	.qing-comment-avatar {
	    width: 48px;
	    height: 48px;
	}
	.qing-comment-avatar img {
		width: 48px;
	    height: 48px;
	}
}
.qing-comment-body {
	padding-left: 60px;
}
.qing-comment-meta {
	font-size: 11px;
}
.qing-comment-author {
	color: red;
}
.qing-comment-no {
	margin-top: 1rem;
    border: 1px solid #B0E0F9;
    height: 10rem;
    background: #f8f8f8;
    text-align: center;
}
.qing-comment-tip {
	padding-top: 4rem;
	color: #01AAED;
}
.qing-comment-content {
    text-align: left;
    line-height: 1.5em;
}

.qing-comment-content img {
	/*height: 80px;*/
}

.qing-comment-aite {
	color:#4eaa4c;
}

.qing-comment-hint {
	font-size: 10px;
}
.qing-comment-hint>span {
	margin: 0.25rem 0.5rem;
	color: #666;
	cursor: pointer;
}
.qing-comment-hint span:hover{
	color: red;
}
.qing-comment-post {
	/*height: 40px;*/
    border-bottom: 1px solid #E2E2E2;
    /*border-top: 1px solid #E2E2E2;*/
    padding: 0.5rem 0;
}
.qing-comment-ok {
	color: red !important;
}

/* TODO评论CSS结束 */

/* TODO 简易编辑器CSS开始 */
.qing-edit {
	position: relative;
	display: block;
	top: 1px;
	left: 0;
	padding: 0 10px;
	border: 1px solid #e6e6e6;
	border-radius: 2px 2px 0 0;
	background-color: #FBFBFB;
}
.qing-edit span {
	cursor: pointer;
	padding: 0 10px;
	line-height: 38px;
	color: #009E94;
}
.qing-edit span i {
	padding-right: 6px;
	font-size: 18px;
}
.qing-edit span:hover {
	color: #5DB276;
}
body .layui-edit-face {
	border: none;
	background: none;
}
body .layui-edit-face .layui-layer-content {
	padding: 0;
	background-color: #fff;
	color: #666;
	box-shadow: none
}
.layui-edit-face .layui-layer-TipsG {
	display: none;
}

.layui-edit-face ul {
	position: relative;
	width: 372px;
	padding: 10px;
	border: 1px solid #D9D9D9;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.layui-edit-face ul li {
	cursor: pointer;
	float: left;
	border: 1px solid #e8e8e8;
	height: 22px;
	width: 26px;
	overflow: hidden;
	margin: -1px 0 0 -1px;
	padding: 4px 2px;
	text-align: center;
}
.layui-edit-face ul li:hover {
	position: relative;
	z-index: 2;
	border: 1px solid #eb7350;
	background: #fff9ec;
}
/* TODO 简易编辑器CSS结束 */


.qing-about {
	margin-top: 10rem;
    border: 1px solid;
    border-color: #eee;
    background: #fbfbfb;
    padding: 3rem 2rem;
}
.qing-about-text {
	text-indent: 2em;
}

.qing-about-cnt {
	padding-bottom: 10rem;
}



.qing-msg-intro {
	margin-top: 1rem;
    border: 1px solid #B0E0F9;
    height: 10rem;
    background: #f8f8f8;
    text-align: center;
}
.qing-msg-tip {
	padding-top: 4rem;
	color: #01AAED;
}

.qing-page-header {
	margin-bottom: 2px;
	padding: 0.5rem 2rem 0.5rem 2rem;
}

.qing-page-header span {
	font-size: 18px;
}


.qing-query-header {
	margin-bottom: 2px;
	padding: 0.5rem 2rem 0.5rem 2rem;
}

.qing-query-header span {
	font-size: 14px;
}