/**
 * 
 * 青菜萝卜 CSS
 * 
 * Author: SillyBoy
 * 
 * Email：1043244432@qq.com
 * 
 */

/**
 * blog css 
 * a:hover: #10D07A 
 * 基本色：#333 
 * 或者 #3d3d3d   
 * bgcolor：#10D07A  ， color：#fff
 * blog-color  单独的颜色突出
 * .blog-bor    border:1px solid #e5e5e5
 * css复用 与 规范化
 */

html {
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
    line-height: 24px;
    background-color: #f2f2f2;
}

a {
    color:#474747;
}
 a:hover {
    color:#10D07A;
}
.qing-header {
    background-color:#393D49;
    text-align:center;
    top: 0;
}

.qing-footer {
    padding:3rem 0 2rem 0;
    margin-top:5rem;
    background-color:#2F4056;
    color:#fff !important
}
.qing-footer-padding {
    padding:3rem 0;
}
.qing-footer a{
    color:#fff;
}
.qing-footer span {
    color:#fff;
}

.qing-search-button {
	height: 32px !important;
}

/**
 * 覆盖amazeui的样式
 */
.am-topbar a {
	color: #FFFFFF;
}
.am-topbar-nav>li.am-active>a, .am-topbar-nav>li.am-active>a:focus,.am-topbar-nav>li.am-active>a:hover{
    border-radius: 0;
    color: #FFFFFF;
    background-color:#009688;
    text-align:center;
}
.am-topbar-nav>li>a:hover:after {
     opacity: 0; 
}

@media only screen and (min-width: 641px) {
	.am-topbar-nav>li.am-active>a:after {
    	opacity: 0;
    }
}
@media only screen and (min-width: 1200px) {
      .qing-fixed {
        max-width: 1200px;
      }
}

/*.am-dropdown-content li a{
    background-color:transparent;
}
.am-dropdown-content li a:hover {
    background-color:#10D07A;
}*/


.qing-nav {
    padding:0 1.3rem;
}

.qing-nav li a:hover{
    background-color:#009688;
    color:#FFFFFF;
}

.qing-logo {
    margin-top: 0.7rem;
    width: 150px;
    height: 40px;
    display: block;
    text-indent: -666px;
    background: url(../img/logo2.png) no-repeat;
}


#blog hr {
    margin:0.6rem 0;
}

/**
 * 移动端显示按钮
 */
.qing-button {
    height:100%;
    margin-left:1.5rem;
    background-color:#009688;
    color: #FFF;
}

.qing-bor {
    border:1px solid #e5e5e5;
}

.qing-container {
	/*background-color: #eeeeee;*/
}

.qing-text-center {
    text-align:center;
}

.qing-category {
    color: #fff;
    background-color: #009688;
    padding: 3px 6px;
    font-size: 10px;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.qing-category i {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: -4px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 4px solid #009688;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.qing-hot-rank {
	margin-top:3rem;
}

.qing-panel {
	background: #FFF;
	padding: 0 2rem;
}

.qing-panel-body {
	padding: 1rem 0rem;
}

.qing-panel-title {
	/*position: relative;*/
    height: 45px;
    border-bottom: 1px solid #90bba8;
    /*margin: 5px 20px;*/
}

.qing-panel-title h2 {
    line-height: 45px;
    font-weight: normal;
    color: #1abc9c;
    font-size: 16px;
}

.qing-panel hr {
	background: #5FB878;
}


/* 单行列表 */

.qing-list-one {
	margin: 5px 0;
}

.qing-list-one li {
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	list-style: decimal-leading-zero inside;
	*list-style-type: decimal inside;
	color: #009E94;
	/*font-style: oblique;*/
}

.qing-list-one li a, .qing-list-one li span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	font-style: normal
}

.qing-list-one li a {
	max-width: 72%;
	margin-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	    font-size: 14px;
}

.qing-list-one li span {
	font-size: 14px;
	color: #ccc;
}

/**
 * 多行列表
 */
.qing-list{
	/*margin: 3rem 0;*/
}

.qing-entry-article {
    margin:1rem 0;
    padding: 1rem 0;
    /*background-color: #FFF;*/
}
@media only screen and (max-width:640px) {
    .qing-entry-article {
        padding-bottom:1rem;
        text-align:center;
    }
}

.qing-entry-text {
    padding-top: 1rem;
    
    background-color: #FFF;
    
    border: 1px solid;
    border-color: #eee;
    margin-bottom: 0.5rem;
    text-align: left;
}

.qing-list-title {
	font-size: 16px;
}

.qing-list-hint {
	padding-top: 0.2rem;
	font-size: 10px;
}

.qing-list-author {
	color: #01AAED;
}

.qing-list-clock {
	color: #ED0156;
}

.qing-list-eye {
	color: #01AAED;
}

.qing-list-comment {
	color: #01AAED;
}

.qing-list-heart {
	color: #ED0156;
}

.qing-list-tips {
	color: #F7B824;
}

.qing-list-summary {
	padding: 0.2rem 0;
	text-indent: 2em;
	font-size: 14px;
    line-height: 22px;
	color: #777;
}

.qing-list-tag {
	font-size: 8px;
	text-align: left;
}

.qing-list-tag i {
	margin-right: 5px;
}

.qing-read-more {
    margin:0.15rem 0.15rem;
    font-size: 10px;
    float:right;
    color:#009688;
}
.qing-read-more:hover {
    color:#5FB878;
}


.qing-blog-tag {
	display: inline-block;
    min-width: 10px;
    padding: .25em 0.25em;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #e2e2e2;
}

.qing-blog-tag-first {
	background-color:#dd514c;
}

.qing-blog-tag-second {
	background-color:#F23BD5;
}

.qing-blog-tag-third {
	background-color:#15AFEF;
}

.qing-blog-tag-forth {
	background-color:#393D49;
}


.qing-tag {
	display: inline-block;
    min-width: 10px;
    margin: 0.25em 0;
    width:32.5%;
    padding: .5em .625em;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #999;
}

.qing-tag-first {
	background-color:#dd514c;
}

.qing-tag-second {
	background-color:#F23BD5;
}

.qing-tag-third {
	background-color:#15AFEF;
}

.qing-tag-forth {
	background-color:#393D49;
}


/*
 * 
 * slider start
 * 
 */
.qing-sidebar {
    /*margin-top:3rem;*/
}

.qing-slider-top {
	margin: 1rem 0;
}

.qing-slider-ad {
	margin-top: 3rem;
	margin-bottom: 20px;
    background-color: #fff;
    /*border: 1px solid transparent;*/
    /*border-color: #ddd;*/
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    height: 300px;
}


.qing-slider-panel {
	padding: 0 1.25rem !important;
}

.qing-abount {
	margin-top: 10rem;
    border: 1px solid;
    border-color: #eee;
    background: #fbfbfb;
    padding: 3rem 2rem;
}

.qing-abount-text {
	text-indent: 2em;
}

.qing-abount-hint {
	padding: 0.5rem 0;
}





































.blog-title {
    margin-top:-1.5rem;
}
.blog-title span{
    background-color:#fff;
    padding:0 1.5rem;
}
.blog-top-bar {
	background-color: #333;
    border-color: #333;
}
.blog-sidebar-widget {
    padding:0 2rem;
    margin-bottom:4rem;
    text-align:center;
}
h1 span{
    color:#333;
}
.blog-icon {
    width:3.4rem;
    border:1px solid #e5e5e5;
    padding:0.5rem;
    color:#3d3d3d;
}
.blog-icon:hover {
    color:#fff;
    background:#10D07A;
    border:1px solid #10D07A;
}
.blog-color {
    color:#10D07A;
}
.blog-continue {
    color:#000;
    border:0.2rem solid gray;
    padding:0.5rem 1rem;
    font-weight:bold;
    display:none;
}
.blog-continue:hover {
    background-color:#10D07A;
    color:#fff;
    border:0.1rem #fff;
}


.blog-tag {
    background:#F3F3F3;
    margin:0.15rem 0.15rem;
    line-height:2.5rem;
    float:left;
    border: 1px solid #eee;
    padding:0.2rem 0.8rem 0.2rem 0.8rem;
}
.blog-tag:hover {
    background:#10D07A;
    color:#fff;
}


.blog-clear-margin {
    margin-left:0rem !important;
    margin-right:0rem !important;
}
.blog-clear-padding {
    padding:0 0 1.5rem 0 !important;
}
.blog-tag-left {
    text-align:left;
}


.blog-author-img {
    width:8rem;
    height:8rem;    
}
@media only screen and (max-width:641px) {
    .blog-author-img {
    width:6rem;
    height:6rem;    
    }
}
.blog-article-margin {
    margin:3rem 0;
}

.blog-clear-left {
    padding-left: 0;
}
.blog-clear-right {
    padding-right:0;
}
.blog-slider-desc {
    width:50%;
    height:50%;
    overflow:hidden;
    border:0.3rem solid #fff;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);;
    background-color:transparent;
}
.blog-slider-con {
    position:absolute;
    left:0.5%;
    top:1%;
    width:99%;
    height:98%;
    border:0.3rem solid #fff;
    padding:3rem 8rem;
    background-color:#fff;
}


#container {
    width: 100%;
    margin: auto;
}
#container div {
    -webkit-box-shadow: 0 4px 15px -5px #555;
    box-shadow: 0 4px 15px -5px #555;
    background-color: #fff;
    width:220px;
    padding:2px;
    margin:5px;
}
#container > div img {
    padding: 0px;
    display: block;
    width: 100%;
}

