/**
 * 
 * 青菜萝卜 CSS
 * 
 * Author: SillyBoy
 * 
 * Email：1043244432@qq.com
 * 
 */

/**
 * blog css 
 * a:hover: #10D07A 
 * 基本色：#333 
 * 或者 #3d3d3d   
 * bgcolor：#10D07A  ， color：#fff
 * blog-color  单独的颜色突出
 * .blog-bor    border:1px solid #e5e5e5
 * css复用 与 规范化
 */

html {
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
    line-height: 24px;
    background-color: #f2f2f2;
}

a {
    color:#474747;
}
a:hover {
    color:#10D07A;
}
.qing-header {
    background-color:#393D49;
    text-align:center;
    top: 0;
}

.qing-footer {
    padding:3rem 0 2rem 0;
    margin-top:5rem;
    background-color:#2F4056;
    color:#fff !important
}
.qing-footer-padding {
    padding:3rem 0;
}
.qing-footer a{
    color:#fff;
}
.qing-footer span {
    color:#fff;
}

.qing-search-button {
	height: 32px !important;
}

/**
 * 覆盖amazeui的样式
 */
.am-topbar a {
	color: #FFFFFF;
}
.am-topbar-nav>li.am-active>a, .am-topbar-nav>li.am-active>a:focus,.am-topbar-nav>li.am-active>a:hover{
    border-radius: 0;
    color: #FFFFFF;
    background-color:#009688;
    text-align:center;
}
.am-topbar-nav>li>a:hover:after {
     opacity: 0; 
}

@media only screen and (min-width: 641px) {
	.am-topbar-nav>li.am-active>a:after {
    	opacity: 0;
    }
}
@media only screen and (min-width: 1200px) {
      .qing-fixed {
        max-width: 1200px;
      }
}

/*.am-dropdown-content li a{
    background-color:transparent;
}
.am-dropdown-content li a:hover {
    background-color:#10D07A;
}*/


.qing-nav {
    padding:0 1.3rem;
}

.qing-nav li a:hover{
    background-color:#009688;
    color:#FFFFFF;
}

.qing-logo {
    margin-top: 0.7rem;
    width: 150px;
    height: 40px;
    display: block;
    text-indent: -666px;
    background: url(../img/logo2.png) no-repeat;
}


#blog hr {
    margin:0.6rem 0;
}

/**
 * 移动端显示按钮
 */
.qing-button {
    height:100%;
    margin-left:1.5rem;
    background-color:#009688;
    color: #FFF;
}

.qing-bor {
    border:1px solid #e5e5e5;
}

.qing-text-center {
    text-align:center;
}

.qing-category {
    color: #fff;
    /*background-color: #009688;*/
    background-color: #1abc9c;
    padding: 3px 6px;
    font-size: 10px;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.qing-category i {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: -4px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    /*border-left: 4px solid #009688;*/
    border-left: 4px solid #1abc9c;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.qing-container {
	margin-top:3rem;
}

.qing-panel {
	background: #FFF;
	padding: 0 2rem;
}

.qing-panel-body {
	padding: 1rem 0rem;
}

.qing-panel-title {
    height: 40px;
    border-bottom: 1px solid #90bba8;
}

.qing-panel-title h2 {
    line-height: 45px;
    font-weight: normal;
    font-size: 16px;
}

.qing-hot-rank-title {
	color: #1abc9c;
}

.qing-panel hr {
	background: #5FB878;
}


/* 单行列表 */

.qing-list-one {
	margin: 5px 0;
}

.qing-list-one li {
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	list-style: decimal-leading-zero inside;
	*list-style-type: decimal inside;
	color: #009E94;
	/*font-style: oblique;*/
}

.qing-list-one li a, .qing-list-one li span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	font-style: normal
}

.qing-list-one li a {
	max-width: 72%;
	margin-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}

.qing-list-one li span {
	font-size: 14px;
	color: #ccc;
}


.qing-entry-article {
    padding: 1rem 0;
}

@media only screen and (max-width:640px) {
    .qing-entry-article {
        padding-bottom:1rem;
        text-align:center;
    }
}

.qing-entry-text {
    padding-top: 1rem;
    background-color: #FFF;
    border: 1px solid;
    border-color: #eee;
    margin-bottom: 0.5rem;
    text-align: left;
}

.qing-list-title {
	font-size: 16px;
}

.qing-list-hint {
	padding-top: 0.2rem;
	font-size: 10px;
}

.qing-list-author {
	color: #01AAED;
}

.qing-list-clock {
	color: #ED0156;
}

.qing-list-eye {
	color: #01AAED;
}

.qing-list-comment {
	color: #01AAED;
}

.qing-list-heart {
	color: #ED0156;
}

.qing-list-tips {
	color: #F7B824;
}

.qing-list-summary {
	padding: 0.2rem 0;
	text-indent: 2em;
	font-size: 14px;
    line-height: 22px;
	color: #777;
}

.qing-list-tag {
	font-size: 8px;
	text-align: left;
}

.qing-list-tag i {
	margin-right: 5px;
}

.qing-read-more {
    margin:0.15rem 0.15rem;
    font-size: 10px;
    float:right;
    color:#009688;
}
.qing-read-more:hover {
    color:#5FB878;
}

.qing-margin-top {
	margin-top: 1rem !important;
}


.qing-blog-tag {
	display: inline-block;
    min-width: 10px;
    padding: .25em 0.25em;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #EEE;
}

.qing-tag {
	display: inline-block;
    min-width: 10px;
    margin: 0.25em 0;
    width:32.5%;
    padding: .5em .625em;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #999;
}

.qing-tag-first {
	background-color:#dd514c;
}

.qing-tag-second {
	background-color:#F23BD5;
}

.qing-tag-third {
	background-color:#15AFEF;
}

.qing-tag-forth {
	background-color:#393D49;
}


/*
 * 
 * slider start
 * 
 */
.qing-slider-ad {
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    height: 300px;
}


.qing-slider-panel {
	padding: 0 1.25rem !important;
}


.qing-share-img {
	width:250px;
    /*height:15rem;*/ 
}


/**
 * 
 */
.qing-content {
	padding: 1rem 2rem;
	background: #FFF;
}

.qing-content-nav {
	height: 40px;
    margin-bottom: 0.15rem;
}

.qing-blog-summary {
	color: #777;
	text-indent: 2em;
}

.qing-blog-img {
	width: 90%;
	margin: 1rem 0;
}

.qing-content-ad {
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    height: 150px;
}






/* 简易编辑器 */

.fly-edit {
	position: relative;
	display: block;
	top: 1px;
	left: 0;
	padding: 0 10px;
	border: 1px solid #e6e6e6;
	border-radius: 2px 2px 0 0;
	background-color: #FBFBFB;
}

.fly-edit span {
	cursor: pointer;
	padding: 0 10px;
	line-height: 38px;
	color: #009E94;
}

.fly-edit span i {
	padding-right: 6px;
	font-size: 18px;
}

.fly-edit span:hover {
	color: #5DB276;
}

body .layui-edit-face {
	border: none;
	background: none;
}

body .layui-edit-face .layui-layer-content {
	padding: 0;
	background-color: #fff;
	color: #666;
	box-shadow: none
}

.layui-edit-face .layui-layer-TipsG {
	display: none;
}

.layui-edit-face ul {
	position: relative;
	width: 372px;
	padding: 10px;
	border: 1px solid #D9D9D9;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.layui-edit-face ul li {
	cursor: pointer;
	float: left;
	border: 1px solid #e8e8e8;
	height: 22px;
	width: 26px;
	overflow: hidden;
	margin: -1px 0 0 -1px;
	padding: 4px 2px;
	text-align: center;
}

.layui-edit-face ul li:hover {
	position: relative;
	z-index: 2;
	border: 1px solid #eb7350;
	background: #fff9ec;
}


/* Detail页 */

.detail h1 {
	font-size: 24px;
	line-height: 30px;
	padding: 5px 0;
}

.detail-about {
	position: relative;
	margin-top: 5px;
	line-height: 20px;
	background-color: #F2F2F2;
	padding: 15px;
	color: #999;
}

.detail-about span,
.jie-about span,
.detail-about .jie-user {
	margin-right: 10px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	font-size: 12px;
}

.detail-about .jie-status,
.detail-about .jie-status-ok {
	color: #fff;
}

.detail-about .fly-jing {
	padding: 0 6px;
	background-color: #c00;
	color: #fff;
}

.detail-about .jie-user {
	position: relative;
}

.detail-about .jie-user cite {
	top: -3px;
	left: 56px;
	width: 260px;
	color: #4f99cf;
	font-size: 14px;
}

.detail-about .jie-user cite em {
	padding-left: 5px;
	color: #999;
	cursor: default;
	font-size: 12px;
	font-style: normal;
}

.detail-about .jie-user img {
	position: relative;
	display: block;
	margin: 0;
	top: 0;
	border-radius: 100%;
}

.detail-hits {
	position: absolute;
	left: 71px;
	bottom: 15px;
}

.detail-hits span {
	margin-top: 0;
}

.detail-body {
	margin: 20px 0 50px;
	min-height: 200px;
	line-height: 26px;
	font-size: 16px;
}

.detail-body p {
	margin-bottom: 15px;
}

.detail-body a {
	color: #4f99cf;
}

.detail-body img {
	max-width: 100%;
	cursor: crosshair;
}

.detail-body table {
	margin: 10px 0;
}

.detail-body table thead {
	background-color: #f2f2f2;
}

.detail-body table th,
.detail-body table td {
	padding: 5px 20px;
	border: 1px solid #DFDFDF;
	font-size: 14px;
	font-weight: 400;
}

.detail-about-reply {
	background: none;
	padding: 0;
}

.detail-about-reply .detail-hits {
	left: 56px;
	bottom: 0;
}

.detail .page-title {
	border: none;
	background-color: #f2f2f2;
}


/* 回答 */

.jieda {
	margin-bottom: 30px;
}

.jieda li {
	position: relative;
	padding: 20px 0 10px;
	border-bottom: 1px dotted #DFDFDF;
}

.jieda .fly-none {
	height: 50px;
	min-height: 0;
	padding: 50px 0 30px;
}

.jieda .icon-caina {
	position: absolute;
	right: 10px;
	top: 15px;
	font-size: 60px;
	color: #58A571;
}

.jieda-body {
	margin: 25px 0 20px;
	min-height: 0;
	line-height: 24px;
	font-size: 14px;
}

.jieda-body p {
	margin-bottom: 10px;
}

.jieda-body a {
	color: #4f99cf
}

.jieda-reply {
	position: relative;
}

.jieda-reply span {
	padding-right: 20px;
	color: #999;
	cursor: pointer;
}

.jieda-reply span:hover {
	color: #666;
}

.jieda-reply span i {
	margin-right: 5px;
	font-size: 16px;
}

.jieda-reply span em {
	font-style: normal;
}

.jieda-reply span .icon-zan {
	font-size: 22px;
}

.jieda-reply .zanok,
.jieda-reply .jieda-zan:hover {
	color: #c00
}

.jieda-reply span .icon-svgmoban53 {
	position: relative;
	top: 1px;
}






.qing-abount {
	margin-top: 10rem;
    border: 1px solid;
    border-color: #eee;
    background: #fbfbfb;
    padding: 3rem 2rem;
}

.qing-abount-text {
	text-indent: 2em;
}

.qing-abount-hint {
	padding: 0.5rem 0;
}





































.blog-title {
    margin-top:-1.5rem;
}
.blog-title span{
    background-color:#fff;
    padding:0 1.5rem;
}
.blog-top-bar {
	background-color: #333;
    border-color: #333;
}
.blog-sidebar-widget {
    padding:0 2rem;
    margin-bottom:4rem;
    text-align:center;
}
h1 span{
    color:#333;
}
.blog-icon {
    width:3.4rem;
    border:1px solid #e5e5e5;
    padding:0.5rem;
    color:#3d3d3d;
}
.blog-icon:hover {
    color:#fff;
    background:#10D07A;
    border:1px solid #10D07A;
}
.blog-color {
    color:#10D07A;
}
.blog-continue {


.blog-tag {
    background:#F3F3F3;
    margin:0.15rem 0.15rem;
    line-height:2.5rem;
    float:left;
    border: 1px solid #eee;
    padding:0.2rem 0.8rem 0.2rem 0.8rem;
}
.blog-tag:hover {
    background:#10D07A;
    color:#fff;
}


.blog-clear-margin {
    margin-left:0rem !important;
    margin-right:0rem !important;
}
.blog-clear-padding {
    padding:0 0 1.5rem 0 !important;
}
.blog-tag-left {
    text-align:left;
}


.blog-author-img {
    width:8rem;
    height:8rem;    
}
@media only screen and (max-width:641px) {
    .blog-author-img {
    width:6rem;
    height:6rem;    
    }
}
.blog-article-margin {
    margin:3rem 0;
}

.blog-clear-left {
    padding-left: 0;
}
.blog-clear-right {
    padding-right:0;
}
.blog-slider-desc {
    width:50%;
    height:50%;
    overflow:hidden;
    border:0.3rem solid #fff;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);;
    background-color:transparent;
}
.blog-slider-con {
    position:absolute;
    left:0.5%;
    top:1%;
    width:99%;
    height:98%;
    border:0.3rem solid #fff;
    padding:3rem 8rem;
    background-color:#fff;
}

