
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}





body {
	background: #fff
}

.cl {
	zoom: 1
}

.cl:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.z {
	float: left
}

.y {
	float: right
}

.header {
	background: #393d49;
	height: 60px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999
}

.header a {
	font-size: 18px;
	padding: 0 30px 0 0;
	line-height: 60px;
	font-weight: 100;
	color: #fff
}

.header h2 {
	font-size: 18px;
	padding: 0 0 0 30px;
	line-height: 60px;
	font-weight: 100;
	color: #fff
}

.header a:hover {
	color: #fff
}

.admin {
	background: #fff;
	min-height: 100%;
	width: 100%
}

.aleft {
	position: fixed;
	left: 0;
	top: 60px;
	width: 200px;
	height: 100%;
	background: #fff;
	border-right: 1px solid #EAEAEA
}

.aright {
	margin-left: 200px;
	margin-top: 80px
}

.bform {
	margin: 20px 30px 0 10px
}

.aright .arz a {
	color: #fff;
	padding: 10px 18px;
	background: #009688;
	height: 36px;
	line-height: 36px;
	border-radius: 2px
}

.aright .arz a i {
	position: relative;
	right: 3px;
	top: 1px
}

.aright .arz {
	margin: 20px 0 0 30px
}

.aright .arz a:hover {
	opacity: .8;
	filter: alpha(opacity=80);
	color: #fff
}

.aform tr {
	border: 1px solid #EAEAEA
}

.aform tr th {
	border-left: 1px solid #EAEAEA;
	background: #F9F9F9;
	line-height: 45px
}

.aform tr td {
	border-left: 1px solid #EAEAEA;
	line-height: 40px
}

.aform {
	margin: 20px 30px 0 30px
}

.aleft h3 {
	font-size: 16px;
	padding: 15px 30px;
	font-weight: 100;
	color: #333;
	border-bottom: 1px solid #EAEAEA;
	background: #F9F9F9
}

.aleft ul li {
	padding: 12px 0 12px 50px;
	float: left;
	color: #333;
	width: 150px;
	border-bottom: 1px solid #EAEAEA
}

.aleft ul li a:hover {
	color: #009688
}

.aleft ul li i {
	position: relative;
	right: 3px;
	top: 1px;
	color: #009688
}

.sort-input {
	width: 25px;
	text-align: center
}

.file-box img {
	margin-top: 15px;
}

.file-box {
	position: relative;
	width: 800px
}

.file-txt {
	width: 660px;
	height: 36px;
	line-height: 36px;
	background: #fff;
	border: 0 solid #fff;
	padding-left: 5px
}

.file-box i {
	position: absolute;
	left: 16px;
	top: 11px;
	font-size: 16px;
	color: #5FB878
}

.file-btn:hover {
	border-color: #D2D2D2!important
}

.file-btn {
	width: 110px;
	height: 36px;
	line-height: 36px;
	background: #fff;
	border: 1px solid #e6e6e6;
	padding-left: 15px;
	border-radius: 2px
}

.file-file {
	position: absolute;
	top: 0;
	left: 0;
	height: 36px;
	filter: alpha(opacity: 0);
	opacity: 0;
	width: 110px
}

.pages {
	float: left;
	margin: 20px 30px 0 30px
}

.pages .current,
.pages a,
.pages a:hover {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	vertical-align: middle
}

.pages a {
	color: #333;
	background-color: #f0f0f0
}

.pages .current,
.pages a:hover {
	text-decoration: none;
	color: #FFF;
	background-color: #009688;
	vertical-align: middle
}

.pages .next,
.pages .prev {
	padding: 0 15px;
	font-family: "����"
}

.pages .current,
.pages .num {
	margin: 0 3px;
	padding: 0 11px
}

#login {
	background: #e6e6e6
}

.input-valicode {
	display: inline-block !important;
    width: 100px !important;
}

.img-valicode {
	height: 38px !important;
	margin-top: -2px;
	margin-left: 10px;
}

.login-i {
	margin-left: 10px;
    font-size: 26px;
    vertical-align: middle;
    cursor: pointer;
}

.login {
	width: 260px;
	margin-top: 200px!important;
	margin: 0 auto;
	background: #fff;
	padding: 60px 80px
}

.login h2 {
	font-size: 28px;
	font-weight: 100;
	color: #333;
	text-align: center;
	margin-bottom: 50px
}

.aright_1 {
	margin: 20px 30px 0 30px
}

.aright_1 tr {
	font-size: 13px;
	line-height: 38px;
	border-bottom: 1px solid #EAEAEA
}

.aright_1 table {
	margin-bottom: 10px
}

.aright_1 tr:last-child {
	border: none
}

.inside {
	width: 100%;
	min-width: 1000px;
	height: 65px;
	background: #009688
}

.inside h2 img {
	float: left;
	padding: 18px 0 0 0
}

.inside ul {
	width: 120px;
	height: 65px;
	float: left;
	margin-left: 68px
}

.inside .innumber1 {
	background: #FF5722!important;
	color: #fff!important
}

.inside .innumber {
	margin-top: 12px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	border-radius: 50%;
	background: #fff;
	float: left;
	color: #009688
}

.inside .inword {
	width: 80px;
	height: 65px;
	float: left;
	line-height: 65px;
	text-indent: 10px;
	font-size: 16px;
	color: #fff
}

.inwp {
	width: 1000px;
	margin: 0 auto
}

.inout1 a {
	float: left;
	border: 1px solid #C9C9C9;
	background-color: #fff;
	color: #555;
	padding: 8px 18px;
	border-radius: 2px;
	margin-right: 10px;
	margin-top: 20px
}

.inout2 a {
	float: left;
	color: #fff;
	padding: 9px 18px;
	background: #009688;
	border-radius: 2px;
	margin-top: 20px
}

.inout1 a:hover {
	color: #555;
	opacity: .8;
	filter: alpha(opacity=80)
}

.inout2 a:hover {
	color: #fff;
	opacity: .8;
	filter: alpha(opacity=80)
}

.inout2 input {
	float: left;
	color: #fff;
	padding: 9px 18px;
	background: #009688;
	border-radius: 2px;
	margin-top: 20px;
	border: none
}

.inout2 input:hover {
	color: #fff;
	opacity: .8;
	filter: alpha(opacity=80)
}

.inside2 h2 {
	font-size: 20px;
	margin: 20px 0
}

.inside2 h3 {
	font-size: 16px;
	margin: 20px 0 10px 0;
	color: #FF5722
}

.inside2 p {
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 10px
}

.inside2 tr {
	border: 1px solid #EAEAEA
}

.inside2 tr th {
	border-left: 1px solid #EAEAEA;
	background: #F9F9F9;
	line-height: 45px
}

.inside2 tr td {
	border-left: 1px solid #EAEAEA;
	line-height: 40px;
	padding-left: 20px
}

.layui-form-pane .layui-form-label {
	width: 100px!important
}

.layui-form-pane .layui-input-block {
	margin-left: 132px!important
}