<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>激活邮箱 - {{lay.base.name}}</title>
{{ include ../link }}
</head>
<body>

{{ include ../header }}

<div class="main layui-clear" style="min-height: 600px;">
  <h2 class="page-title">激活邮箱</h2>

  {{# var user = d.session.user || {} }}

  <ul class="layui-form">
    <li class="layui-form-li">
      <label for="activate">您的邮箱：</label>
      <span class="layui-form-text">{{user.email}} 
      {{# if(user.activate){ }}
      <em style="color:#999;">（已成功激活）</em>
      {{# } else { }}
      <em style="color:#c00;">（尚未激活）</em>
      {{# } }}
      </span>
    </li>
    {{# if(!user.activate){ }}
    <li class="layui-form-li" style="margin-top: 20px; line-height: 26px;">
      <div>
        1. 如果您未收到邮件，或激活链接失效，您可以
        <a class="layui-form-a" style="color:#4f99cf;" id="LAY-activate" href="javascript:;" email="{{user.email}}">重新发送邮件</a>，或者
        <a class="layui-form-a" style="color:#4f99cf;" href="/user/set/">更换邮箱</a>；
      </div>
      <div>
        2. 如果您始终没有收到 Fly 发送的邮件，请注意查看您邮箱中的垃圾邮件；
      </div>
      <div>
        3. 如果你实在无法激活邮件，您还可以联系：xianxin@layui.com
      </div>
    </li>
    {{# } }}
  </ul>
</div>

{{ include ../footer }}

</body>
</html>