
<div class="footer">
  <p><a href="http://fly.layui.com/">Fly社区</a> {{ new Date().getFullYear() }} &copy; <a href="http://www.layui.com/">layui.com</a></p>
  <p>
    <a href="http://fly.layui.com/auth/get" target="_blank">产品授权</a>
    <a href="http://fly.layui.com/jie/3147.html" target="_blank">VIP说明</a>
    <!--<a href="javascript:layer.msg('暂无此页');">关于我们</a>-->
    <a href="http://sentsin.com/cooperation.html" target="_blank">商务合作</a>
    <a href="http://weibo.com/SentsinXu" target="_blank" rel="nofollow">微博</a>
    <a href="http://fly.layui.com/jie/2461.html" target="_blank">微信公众号</a>
  </p>
</div>

<script src="{{d.res}}layui/build/layui.js?t={{lay.version}}"></script>

{{# var user = d.session.user||{}; }}
<script>
layui.cache.page = '{{d.page||""}}';
layui.cache.user = {
  username: '{{user.username||"游客"}}'
  ,uid: {{user.id ? 168*user.id : -1}}
  ,avatar: '{{user.avatar||"http://res.layui.com/images/fly/avatar/00.jpg"}}'
  ,experience: {{user.experience||0}}
  ,sum: {{user.rmb||0}}
  ,vip: {{ lay.util.vip(user.rmb) }}
  ,sex: '{{user.sex||""}}'
};
layui.config({
  version: "{{lay.version||''}}"
}).extend({
  'fly': '{{d.res}}lay/modules/fly/index'
}).use('fly');
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30088308'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30088308' type='text/javascript'%3E%3C/script%3E"));</script>